body {
    background-color: #000;

}
.section {
    margin: 25px auto;
    width: 90%;
}
.container {
    display: flex;
    background-color: #444;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: 5px solid #000;
    outline: 5px solid #f13;
    max-width: 1500px;
    margin: auto;
    min-width: 200px;
    height: 90%;
    padding: 0 20px;
}
.form {
    flex: 1;
    min-width: 290px;
    text-align: center;
    order: 3;
}
.form__input {
    width: 90%;
    margin: 10px 0;
    padding: 10px;
    border-bottom: 2px solid #f13;
    background-color: transparent;
    outline: none;
    color: #fff;
}
.form__input::placeholder {
    color: #ddd;
}
.form__input:focus {
    background: linear-gradient(to bottom, transparent, #222);
    outline: none;
}
#area {
    resize: vertical;
    min-height: 200px;
    max-height: 360px;
}
.form__img {
    flex: 1;
    display: flex;
    min-width: 200px;
    max-width: 400px;
    margin: 10px;
    padding: 20px 40px;
    order: 1;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}
.form__img img{
    background-color: rgb(255, 255, 255);
    width: 60%;
    margin: auto;
}

.form__section input[type="submit"] {
    background-color: #f13;
    cursor: pointer;
    padding: 10px 10px;
    width: 50%;
    margin-bottom: -10px;
}
