.container {
    display: flex;
    background-color: #444;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 30px;
    border: 5px solid #000;
    outline: 5px solid #f13;
    padding: 0 50px;
}
.form {
    flex: 1;
    min-width: 400px;
    text-align: center;
    padding: 30px 20px;
    order: 3;
}
.form__input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-bottom: 2px solid #f13;
    background-color: transparent;
    outline: none;
    color: #fff;
}
.form__input::placeholder {
    color: #ddd;
}
.form__input:focus {
    background: linear-gradient(to bottom, transparent, #222);
    outline: none;
}
#area {
    resize: vertical;
    min-height: 200px;
    max-height: 360px;
}
.form__img {
    flex: 1;
    display: flex;
    min-width: 300px;
    max-width: 500px;
    margin: 10px;
    padding: 40px;
    order: 1;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}
.form__img img{
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    width: 60%;
    margin: auto;
}

.form__section input[type="submit"] {
    background-color: #f13;
    cursor: pointer;
}
